.status-bar {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  position: sticky;
  /*CSS position: sticky 속성을 소개합니다.
position: sticky 속성을 적용한 박스는 평소에 
문서 안에서 position: static 
상태와 같이 일반적인 흐름에 따르지만 
스크롤 위치가 임계점에 이르면 
position: fixed와 같이 박스를 화면에 
고정할 수 있는 속성입니다.*/
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
